/* Thiết lập các kiểu chữ và kích thước chữ */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  /* Định dạng container chứa danh sách sách */
  .book-list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Định dạng form thêm sách mới */
  form {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  /* Định dạng danh sách thông tin sách */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  